<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button class="example-spacer" aria-label="AngularApp Homepage">
      <span>AngularApp</span>
    </button>
    <!-- <span class="example-spacer">AngularApp</span> -->
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>