.centerBracket {
    /* display: flex; */
    border: 4px solid;
    margin: auto;
    width: 40%;
    padding: 10px;
    justify-content: center;
    box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .2), 0 2px 8px 0 rgba(0, 0, 0, .14), 0 4px 8px -1px rgba(0, 0, 0, .12);
  }
  .label-title {
    font-size: 18px;
    font-weight: bold;
  }
  .center {
    /* display: flex;
    border: 4px solid; */
    margin: auto;
    width: 70%;
    padding: 10px;
    justify-content: center;
  }
  .input-profile {
    /* display: flex; */
    /* border: 4px solid; */
    margin: auto;
    width: 50;
    padding: 10px;
    justify-content: center;
  }
  .center-title {
    /* border: 5px solid; */
    display: flex;
    margin: auto;
    width: 60%;
    padding: 10px;
    justify-content: center;
  }
  .centerBtn {
    /* border: 5px solid; */
    display: flex;
    margin: auto;
    width: 10%;
    padding: 10px;
    justify-content: center;
  }
