<div>
    <h1 class="center">Regisztráció</h1>
    <br>
    <div  class="centerBracket">
        <p>Felhasználónév</p>
        <input class="clr-input" type="text">
        <br><br>
        <p>Jelszó</p>
        <input class="clr-input" type="password">
        <br><br>
        <p>Jelszó újra</p>
        <input class="clr-input" type="password">
        <label for="check">
            <input id="check" type="checkbox">
            Adatkezelési feltételek elfogadása
          </label>
          <br>
          <button class="center">Regisztráció</button>
    </div>   
</div>
