.center {
    display: flex;
    margin: auto;
    width: 60%;
    padding: 10px;
    justify-content: center;
  }
  .center-table {
    /* display: flex; */
    margin: auto;
    width: 60%;
    padding: 10px;
    justify-content: center;
  }