<div class="got-qot">
    <h1>Trónok harca idézet lekérdezése</h1>
</div>
<div class="got-qot">
    <app-button-for-all></app-button-for-all>
</div>
<div class="got-qot">
    <p-floatLabel>
        <textarea 
            id="float-input" 
            rows="8"
            cols="100" 
            pInputTextarea 
            [disabled]="true">
        </textarea>
        <label for="float-input">Valar Morghulis</label>
    </p-floatLabel>
    <!-- <textarea 
        name="got-output" 
        id="1"
        ></textarea> -->
</div>