.center {
    /* border: 5px solid; */
    display: flex;
    margin: auto;
    width: 60%;
    padding: 10px;
    justify-content: center;
  }
  .centerBracket {
    /* display: flex; */
    border: 4px solid;
    margin: auto;
    width: 25%;
    padding: 10px;
    justify-content: center;
  }
  .clr-input{
    width: 100%;  
 }
 .centerImg {
  justify-content: center;
}
